In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
pd.set_option("display.max_columns", None)

In [18]:
df = pd.read_csv('/workspaces/airplane_price/Plane Price.csv')
df.sample()

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
179,T 210 F Turbo Centurion,Jet,"3,786",.76 Mach,429.0,82.0,6590,"3,090",3460.0,3315.0,"19,200","11,310",51/10,55/8,"2,027",NaN